/* appropriate sections for all style rules below using comments to separate */

 /* Custom styles for the footer */
 .footer {
    background-color: #1d1e1e;
    padding: 20px 0;
    color: #fafafa
}


