/* appropriate sections for all style rules below using comments to separate */

 /* Custom styles for the footer */
 .footer {
    background-color: #1d1e1e;
    padding: 20px 0;
    color: #fafafa;
}

.footer .social-links a {
    margin: 0 10px;
    font-size: 26px;
    padding: 20px 20px;
    margin: 0 10px;
    color: #fafafa;
    text-decoration: none;
    padding-top: 20px;
}

.footer .social-links a:hover {
    color: #CAAC8D;
}

/* custom logo styles for nav */

.nav-logo {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

/* contact page/form style rules */

.contact-headers {
    text-align: center;
}

body {
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact-form-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #333;
}

.submit-button-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.9);
}

label {
    font-weight: bold;
    color: #333;
}









